.center.jumbotron
  h1 Welcome to the Instagram Clone
  
  = link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary"
  br
  br
  = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-lg btn-primary"