- provide(:title, "Edit user")

- if current_user.provider == 'facebook' && current_user.created_at == current_user.updated_at
  .container
    .alert.alert-danger role="alert"
      | パスワードを設定してください

h2
  | Edit 
  = resource_name.to_s.humanize
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    h2 公開情報
    = f.label :name, "名前 ※必須"
    br
    = f.text_field :name, autofocus: true, autocomplete: "off"
    br
    = f.label :username, "ユーザー名 ※必須"
    br
    = f.text_field :username, autofocus: true, autocomplete: "off"
    br
    = f.label :website
    br
    = f.text_area :website, autofocus: true, autocomplete: "off"
    br
    = f.label :introduction
    br
    = f.text_area :introduction, autofocus: true, autocomplete: "off"
  .field
    h2 非公開情報
    = f.label :email
    br
    = f.email_field :email, autofocus: true, autocomplete: "email"
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      | Currently waiting confirmation for: 
      = resource.unconfirmed_email
  = f.label :tel
  br
  = f.number_field :tel, autofocus: true, autocomplete: "off"
  br
  = f.label :gender
  br
  = f.select :gender, [["", "不明"], ["男性", "男性"], ["女性", "女性"], ["その他", "適用不能"]], class: "form-control", autofocus: true, autocomplete: "off"
  
  - if current_user.provider == 'facebook' && current_user.created_at == current_user.updated_at
    .field
    = f.label :password
    i
      | (leave blank if you don't want to change it)
    br
    = f.password_field :password, autocomplete: "new-password"
    - if @minimum_password_length
      br
      em
        = @minimum_password_length
        |  characters minimum
    .field
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, autocomplete: "new-password"
    
  .field
    = f.label :current_password, "パスワード"
    
    - if current_user.provider == 'facebook' && current_user.created_at == current_user.updated_at
      i
        | (Facebookログインでのパスワード初期値は「password」です)
    br
      = f.password_field :current_password, autocomplete: "current-password"
  .actions
    = f.submit "Update", class: 'btn btn-primary'
    
h3
  | Change my password
= link_to "Go to change my password", edit_user_path(resource)

h3
  | Cancel my account
p
  | Unhappy? 
  = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default'
= link_to "Back", :back
