- provide(:title, "Sign up")

h2
  | Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :name, "名前 ※必須"
    br
    = f.text_field :name, autofocus: true, autocomplete: "off"
    br
    = f.label :username, "ユーザー名 ※必須"
    br
    = f.text_field :username, autofocus: true, autocomplete: "off"
    br
    = f.label :email
    br
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password
    - if @minimum_password_length
      em
        | (
        = @minimum_password_length
        |  characters minimum)
    br
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, autocomplete: "new-password"
    br
    = link_to '利用規約', agreement_path
  .actions
    = f.submit "Sign up", class: 'btn btn-primary'
= render "devise/shared/links"
