- unless current_user == image.user
  span.like
    - if image.iine?(current_user)
      = form_for(image.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f|
        = button_tag(class: "btn btn-default btn-xs") do
          = content_tag :span, "", class: "glyphicon glyphicon-heart"
    - else
      = form_for(image.likes.build, remote: true) do |f|
        div
          = hidden_field_tag :image_id, image.id
        = button_tag(class: "btn btn-default btn-xs") do
          = content_tag :span, "", class: "glyphicon glyphicon-heart-empty"
