- provide(:title, "Edit password")

h2
  | Edit Password
= form_for(@user, as: @user, url: registration_path(@user), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label :password
    i
      | (leave blank if you don't want to change it)
    br
    = f.password_field :password, autocomplete: "new-password"
    - if @minimum_password_length
      br
      em
        = @minimum_password_length
        |  characters minimum
  .field
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :current_password
    
    - if current_user.provider == 'facebook' && current_user.created_at == current_user.updated_at
      i
        | (Facebookログインでのパスワード初期値は「password」です)
    - else
      i
        | (we need your current password to confirm your changes)
      
    br
      = f.password_field :current_password, autocomplete: "current-password"
  .actions
    = f.submit "Update"