- provide(:title, @user.name)
#user-modal
.row
  aside.col-md-4
    section.user_info
      h1
        = gravatar_for @user
        = @user.name
    .section.stats
      == render 'shared/stats'
  .col-md-8
    == render 'follow_form' if user_signed_in?
    - if @user.images.any?
      h3 Images #{ @user.images.count }
      ol.images
        == render @images
      .mb-3
        = paginate @images
      p.mb-3
        = page_entries_info @images