- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      | The form contains 
      = pluralize(object.errors.count, "error")
      | .
    ul
      - object.errors.full_messages.each do |msg|
        li = msg