- @user ||= current_user
.stats
  a href="#{following_user_path(@user)}"
    strong#following.stat
      | フォロー #{@user.following.count}
  a href="#{followers_user_path(@user)}"
    strong#followers.stat
      | フォロワー #{@user.followers.count}
.edit
  - if current_user == @user
    = link_to 'プロフィール編集', edit_user_registration_path
div
  = @user.introduction