li id="image-#{ image.id }"
  = link_to gravatar_for(image.user, size: 50), image.user
  span.user
    = link_to image.user.name, image.user 
  span.picture
    = image.content
    - if image.picture?
      div
        = image_tag(image.picture.url, class: "modalPoint")
      
      #imageModal.modal.fade tabindex="-1"
        .modal-dialog
          .modal-content
            .modal-header
              button.close type="button" data-dismiss="modal"
                span ×
              h4.modal-title 
                | Image Modal
            .modal-body
              = image_tag(image.picture.url)
              
  span.timestamp
    | Posted #{ time_ago_in_words(image.created_at) } ago.
    - if current_user == image.user
      = link_to "delete", image, method: :delete,
                                       data: { confirm: "写真を削除します。よろしいですか?" }
  == render "likes/like", image: image
  
  script src="app/javascripts/modal.js"