- provide(:title, current_user.name)

.row
  aside.col-md-4
    section.user_info
      == render 'shared/user_info'
    section.stat
      == render 'shared/stats'
  .col-md-8
    h3 Image Feed
    == render 'shared/feed'