- provide(:title, current_user.name)

h2
  | 写真アップロード
  
= form_for(@image) do |f|
  = render 'shared/error_messages_original', object: f.object
  span.picture
    = f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control'
  span ※ ファイル上限は5MBです。
  br
  span ※ jpeg,pngのみアップロード可能です。
  = f.submit "Post", class: "btn btn-primary"
  
javascript:
  $('#image_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });