- provide(:title, current_user.name)

.row
  aside.col-md-4
    section.user_info
      == render 'shared/user_info'
  .col-md-8
    h3 Image
    - if @image[:picture]
      = image_tag(@image.picture.url, class: "img-responsive")
    span.timestamp
      | Posted #{ time_ago_in_words(@image.created_at) } ago.