footer.footer
  nav.navbar
    ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        li = link_to "写真アップロード", new_image_path
        li = link_to "About", about_path
      - else
        li = link_to "About", about_path