header.navbar.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle type="button" data-toggle="collapse" data-target="#gnavi"
        span.sr-only メニュー
        span.icon-bar
        span.icon-bar
        span.icon-bar
      - if user_signed_in?
        = link_to "instagram clone", images_path, id: "logo"
      - else
        = link_to "instagram clone", root_path, id: "logo"
    nav#gnavi.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          li = link_to 'マイページ', user_path(current_user)
          li = link_to '編集', edit_user_registration_path
          li = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          li = link_to "Home", root_path
          li = link_to "Help", help_path
          li = link_to "ログイン", new_user_session_path